<ion-header  class="ion-no-border">
  
<ion-buttons slot="start">
    <ion-menu-button menu ="first"></ion-menu-button>
    </ion-buttons>



  <ion-toolbar>
   <img src="../../assets/Coppel_logo.png" alt="">
  </ion-toolbar>
</ion-header>


<ion-content >
  
 
  <div class="container-fluid">
    <div class="mb-3 row">
      <label  class="col-sm-2 col-form-label">Numero de empleado</label>
      <div class="col-sm-10">
        <input type="text"  class="form-control" id="staticEmail" value="91234456">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword">
      </div>
    </div>
  </div>
  
</ion-content>
